@page "/filesCustomer"

@*<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name File</th>
      <th scope="col">IsTrue</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in browserFile)
    {
        <tr>
          <th scope="row">@item.Name</th>
          <td>
                <div class="form-check">
                    <input class="form-check-input" name="check" @bind-value="cek" type="checkbox" id="flexCheckDefault">
                </div>
          </td>
        </tr>
    }
  </tbody>
</table>*@


@code {

}
